.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width: 200px;
    margin: 25px auto;

    input,
    textarea,
    button {
        width: 300px;
    }
}
